@charset "utf-8";
/* CSS Document */

/*---------- 初期設定 ----------*/
body{
	padding:0;
	margin:0;
	background-color: #FFFFFF;
	font-family: sans-serif;
	font-size: 14px;
}

/*----------色初期設定----------*/
.maincolor{
	color:#00F;
}
.subcolor{
	color:#F00;
}
.etccolor{
	color:#FF0;
}
.txtmaincolor{
	color:#666;
}
.txtsubcolor{
	color:#fff;
}
.mainbgcolor{
	background-color:#00F;
}
.subbgcolor{
	background-color:#F00;
}
.etcbgcolor{
	background-color:#FF0;
}

/*----------文字初期設定----------*/
a:link {
	color: #00F;
}

a:visited {
	color: #FF0;
}

a:hover {
	color: #F00;
}

.txtfooter{
	text-align: center;
	font-size: 12px;
	padding :20px 0px 20px 0px ;
}
/*----------.contents内部----------*/
.txtindex{
	padding :20px 0px 0px 52px ;

}

.eyecatch{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 75px;
	box-shadow: 7px 7px 5px 0px #bbb;
}

h2 {
	margin:0 0 0 60px;
	position: relative;
	background: #00F;
	padding: 6px 5px 4px 45px;
	font-size: 20px;
	color: #fff;
	border-radius: 25px;
}

h2:before {
	font-family: "Font Awesome 5 Free";
	content: "\f152";
	font-weight: 900;
	display: inline-block;
	line-height: 40px;
	position: absolute;
	padding: 0;
	color: #fff;
	background: #00F;
	font-weight: normal;
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	left: -12px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border: solid 3px #FFF; 
	border-radius: 50%;
}
h3{
	color:#FFF;
	text-shadow: 3px 3px 2px #333;
	margin:0 0 0 50px;
	padding:8px 0px 7px 20px ;
	background-color: #00F;
	border-radius: 25px;
	box-shadow: 10px 15px 5px -5px rgba(0,0,0,0.4),inset 8px 8px 15px 0px rgba(255,255,255,0.4),inset -8px -8px 15px 0px rgba(0,0,0,0.4);
}

.boxhonbun{
	letter-spacing: 1px;
	line-height: 180%;
	padding :30px 25px 30px 25px ;
	margin:0 2px 0 52px;
	text-align: left;
	background: #dFF;
	border-top: solid 5px #00F;
	border-bottom: solid 5px #00F;
	box-shadow: 7px 7px 5px 0px #bbb;
}
hr {
	margin:45px 2px 40px 52px;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #bbb inset;
}




/*----------ボックスレイアウト----------*/
/*----------親ボックス----------*/
.menubox{
	width:800px;
	margin: auto;
	text-align: center;
	padding: 0;
	border-radius: 5px;
}
.globalbox{
	width:100%;
	text-align: center;
	margin: 0 auto;
}

.localbox{
	width:800px;
	padding: 0;
	display: inline-block;
	margin:0;
}

/*----------UserInterfaceのレイアウト----------*/	
.topbar{
	width:100%;
	height:20px;
}

.top{
	max-width:800px;
	height:150px;
	margin: auto;
}

.mainmenu{
	max-width:100%;
	height:51px;
	margin: auto;
	padding: 0;
	text-align: left;
}

.submenu{
	width:200px;
	display: table-cell;
	border-radius: 5px;
}

.contents{
	width:600px;
	background-color:#ffffff;
	display: table-cell;
	text-align:left;
	vertical-align:top;
}


.footer{
	max-width:800px;
	margin: auto;
	border-radius: 5px;
}


.footbar{
	width:100%;
	height:20px;
}


/*----------.TOP内部のレイアウト----------*/	

.topinner{
	display: table;
	height: 150px;
	width: 100%;
	text-align: left;
}
.rogo{
	display:table-cell;
	vertical-align:middle;	
}
.rogo img{
	display: inline-block;
	padding: 0px;
}




/*----------mainmenuの設定----------*/
/*----------ラジオボタン非表示設定----------*/
.mainmenu input[type=radio] {
	display: none; 
}
/*----------最初に選択されているボタン----------*/
.mainmenu input[type="radio"]:checked + label {
	background-image:url("img/02.png");
	background-repeat: no-repeat;
	background-size:contain;
/*background: #31A9EE; */
	color: #000000; 
}
/*----------選択されていないボタン----------*/
.mainmenu input[type="radio"] + label {
	background-image:url("img/01.png");
	background-repeat: no-repeat;
	background-size:contain;
	color: #ffffff; 
}
/*----------ラジオボタンのmenu本体設定----------*/
.mainmenu .mainbutton {
	display: block;
	float: left;
	margin: 0px;
	width: 100px; 
	height: 50px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	border-radius: 5px;
	position:relative; 
	top:0px;
}
/*----------マウスオーバー----------*/
.mainmenu .mainbutton:hover {
	background-image:url("img/03.png");
	background-repeat: no-repeat;
	background-size:contain;
}


/*----------submenuの設定----------*/
/*----------ラジオボタン非表示設定----------*/
.submenu input[type=radio] {
	display: none; 
}
/*----------最初に選択されているボタン----------*/
.submenu input[type="radio"]:checked + label {
	background-image:url("img/sub02.png");
	background-repeat: no-repeat;
	background-size:contain;
/*background: #31A9EE; */
	color: #000000; 
}
/*----------選択されていないボタン----------*/
.submenu input[type="radio"] + label {
	background-image:url("img/sub01.png");
	background-repeat: no-repeat;
	background-size:contain;
	color: #ffffff; 
}
/*----------ラジオボタンのmenu本体設定----------*/
.submenu .subbutton {
	display: block;
	float: left;
	width: 100%; 
	height: 30px;
	border-radius: 5px;
	position:relative; 
	top:0px;
}

.submenu .txtsubbutton{
	padding-top :5px;
	text-indent:20px;
	text-align: left;
}

/*----------マウスオーバー----------*/
.submenu .subbutton:hover {
	background-image:url("img/sub03.png");
	background-repeat: no-repeat;
	background-size:contain;
}

/*----------Font Awesome-----------*/
.sign:before {
	font-family: "Font Awesome 5 Free";
	content: "\f058";
	font-weight: 900;
}
.arrow:before {
	font-family: "Font Awesome 5 Free";
	content: "\f0a9";
	font-weight: 900;
}
.dotcircle:before {
	font-family: "Font Awesome 5 Free";
	content: "\f192";
	font-weight: 900;
}
h3:before {
	font-family: "Font Awesome 5 Free";
	content: "\f044";
	font-weight: 900;
	padding-right : 3px;
}
h4:before {
	font-family: "Font Awesome 5 Free";
	content: "\f192";
	font-weight: 900;
	padding-right : 3px;
}